<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <link rel="stylesheet" href="./style.css">
    <style>
      a{
        text-decoration: none;
        font-size: 25px;
        color:white;
        border-radius: 3px ;
        border: 3px solid;
      }
      ul{
        display: inline-block;
        width: 250px;
      }
      p{
        font-size: 75px;
        color: white;
        text-align: center;
        height: 80px;
      }
      div{
        text-align: center;
      }
      h1{
        color:white;
        display: inline;
        border-radius: 5px;
        border:3px solid white;
        padding: 5px;
      }
      #h1{
        text-align: center;
      }
      
    </style>
  </head>
  <body>
    <a href="/logout">로그아웃</a>
    <div>
      <img src="https://www.baemin.com/img/logo@2x.png" style="margin-bottom: 30px;">
    </div>
    <div id="h">
      <h1><%=name%>님 안녕하세요</h1>
    </div>  
    <p>상세 페이지 구현중입니다...</p>
    <div>
      <img src="https://mblogthumb-phinf.pstatic.net/MjAxODA1MTdfMjg5/MDAxNTI2NTQ3NTYzMDIz.awWFb8WW9qSk85krQsWf7GXGOShPNS5ilZyVOFyrbIUg.07pMLGfgYvN_IQPPn9JLBRRvVE8yMY_xiN4LzuIfElEg.PNG.heekyun93/4c7a1d3932a211fa.png?type=w800">
    </div>
    
  </body>
</html>